* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Righteous', cursive;
  height: 100vh;
  background-color: lightblue;
  background: linear-gradient(180deg, #dffeff 0%, #ade4e6 100%);
}

button {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: none;
  border-radius: 100%;
  background-color: transparent;
  cursor: pointer;
  color: black;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
}

button:focus, button:hover {
  outline-style: none;
  border: 2px solid #ff8718;
}

button:active {
  transform: scale(0.93);
  background-color: #ff8718;
}

.main-wrapper {
  width: 300px;
  padding: 5px;
  text-align: center;
}

.start-stop, .reset {
  font-size: 1.5rem;
}

.timer-label {
  font-size: 1.8rem;
  margin-top: 25px;
}

.time-left {
  width: 160px;
  font-size: 3.5rem;
}

.warning {
  color: red;
}

.timer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.outer-settings-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.settings-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  margin: auto;
}

.settings-label {
  font-size: 1.4rem;
}

.settings-btn {
  width: 25px;
  height: 25px;
}

.settings-time {
  width: 40px;
  font-size: 1.5rem;
}
