// SCSS VARIABLES
$dark-grey: #262525;

// Start of SHARED CLASSES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-family: 'Righteous', cursive;

  height: 100vh;

  background: {
    color: lightblue;
    image: url(https://raw.githubusercontent.com/caffeinated-pixels/25-5-clock/main/src/media/tomato-1280.png);
    repeat: no-repeat;
    position: center;
  }
}

button {
  width: 50px;
  height: 50px;

  display: inline-block;

  border: none;
  border-radius: 100%;
  background-color: transparent;

  cursor: pointer;

  color: black;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;

  &:focus,
  &:hover {
    outline-style: none;
    color: #ff8718;
    color: yellow;
  }
  &:active {
    transform: scale(0.93);
  }
}
// End of SHARED CLASSES

// Start of SPECIFIC CLASSES
.main-wrapper {
  width: 300px;
  padding: 5px;

  text-align: center;
}

.timer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.start-stop,
.reset {
  font-size: 1.5rem;
}

.icon {
  filter: drop-shadow(1px 1px 1px $dark-grey);
}

.timer-label {
  font-size: 1.8rem;

  margin-top: 25px;
}

.time-left {
  width: 160px;
  color: #fffffb;
  p {
    font-size: 3.5rem;
<<<<<<< HEAD
=======

>>>>>>> 4ff6541a28f20467a0bec3c6f46cf1024042d131
    text-shadow: 2px 1px 3px $dark-grey;
  }

  hr {
    height: 2px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px $dark-grey;
  }
}

.warning {
  color: orange;
}

.outer-settings-wrapper {
  display: flex;
  justify-content: space-between;

  margin-top: 25px;
}

.settings-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100px;
  margin: auto;
}

.settings-label {
  font-size: 1.4rem;
}

.settings-btn {
  width: 25px;
  height: 25px;
}

.settings-time {
  font-size: 1.5rem;
}

footer {
  // position relative to bottom of body (viewport)
  position: absolute;
  bottom: 8%;

  // for centering horizontally
  left: 0;
  right: 0;
  margin: auto;

  font-size: 1.05rem;
  text-align: center;

  a {
    color: black;
    font-family: Arial;
    font-weight: bold;
    text-decoration: none;
    &:hover,
    &:focus {
      color: lightyellow;
    }
  }
}
